*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif !important;
    font-weight: bold !important;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
section{
    padding: 60px 0;
    overflow: hidden;
}
a:hover{
    text-decoration: none;
}
.navbar::before{
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .1;
    z-index: -1;
    background: transparent;

}
.nav-item a{
    color: #d6d4d4;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px !important;
    
}
.nav-item a:hover{
    color: #f17c0e;
}
.nav-item .btn{
    background:#f17c0e !important;
    border-radius: 50px !important;
}
.nav-item .btn a{
    color: #fff !important;
    padding: 10px !important;
}
.nav-item .btn:hover{
    background: transparent !important;
    border-color: #f17c0e;
}
.nav-item .btn:hover a{
    color: #fff !important;
    text-decoration: none;
}
header .container .navbar-brand{
    color: black;
    font-weight: 600;
    font-size: 2em;
}
header .container .navbar-brand img{
    width: 200px;
    height: auto;
}
 .navbar-toggler-icon{
    color: #fff;
    background-color: transparent !important;
}
.backimg{
    background: url('car2.jpg');
    height: 100vh;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;

    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-repeat: no-repeat;
}
#hero img{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.text{
    position: absolute;
    color: rgb(241, 241, 241);
    bottom: 10%;
}
.text .arrow{
    font-size: 60px;
    color: #f17c0e;
}
#about{
    color: #ffffff;
    background-color: #000000;
}
.about{
    padding: 30px;
}
.about h2{
    font-size: 2em;
    font-weight: 700;
    margin: 20px 8px 0;
}
.about p{
    margin: 20px 0 0;
    color: #999999 !important;
}
.about .icon{
    font-size: 40px;
    background-image: none;
    color: rgb(255, 255, 255) !important;
    margin: 0 auto;
    padding: 5px 14px;
    border: 1px solid #f17c0e !important;
    border-radius: 50%;
    background-color: #f17c0e;
}
.about .icon:hover{
    background-color: transparent;
    color: #f17c0e !important;
    animation: 2s ease-in-out;
}
#safe{
    color: #ffffff;
    background-color: #000000;
}
#safe .image img{
    width: 350px;
    height: 350px;
    clip-path: circle();
}
#safe .image{
    padding: 0 20px;
    margin-left: 30%;
    margin-bottom: 15px;
}
.safe {
    text-align: right;
    justify-content: center;
    margin-right: 20%;
}
@media screen and (max-width:991px){
    #safe .image{
        margin-left: 20%;
    }
    .safe{
        margin-right: 18%;
    }
}
@media screen and (max-width:768px){
    #safe .image{
        margin-left: 15%;
    }
    .safe{
        margin-right: 10%;
    }
}
@media screen and (max-width:539px){
    #safe .image{
        margin-left: 10%;
    }
    .safe{
        margin-right: 15%;
    }
}
@media screen and (max-width:441px){
    #safe .image{
        margin-left: 0%;
    }
    #safe .image img{
        width: 300px;
        height: 300px;
    }
    .safe{
        margin-right: 15%;
    }
}

#form{
    color: #ffffff;
    background-color: #000000;
}
form{
    margin: 0 20%;
}
.form-control{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid #fff !important;
    color: #fff !important;
    font-size: 20px !important;
}
::-webkit-input-placeholder{
    color: rgb(165, 163, 163) !important;
}
::-webkit-input{
    color: #fff !important;
}

input[type=submit] {
    color: #f17c0e !important;
    background-color:transparent !important;
    border: 2px solid #f17c0e !important;
    border-radius: 40px !important;
    font-size: 20px !important;
    padding: 10px 20px !important;
}
input[type=submit]:hover{
    background-color: #f17c0e !important;
    color: #fff !important;
    animation: .5s ease-in-out;
}
table th{
    color: #f17c0e !important;
    font-size: 18px !important;
}